include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include phtax *.css
recursive-include phtax *.csv
recursive-include phtax *.html
recursive-include phtax *.ico
recursive-include phtax *.js
recursive-include phtax *.json
recursive-include phtax *.md
recursive-include phtax *.png
recursive-include phtax *.py
recursive-include phtax *.svg
recursive-include phtax *.txt
recursive-exclude phtax *.pyc